FIREBASE_API_KEY=
GEMINI_API_KEY=
PORT=3000
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SENDER=
SMTP_USER=

# Central API Base URL for Decoupled communication
VITE_API_BASE_URL=https://api.example.com/api/
